.DS_Store
dataset.csv
Preprocessed_texts.pickle
BooleanIR_model.pickle
TF_IDF_model.pickle
Transformer_model.pickle
FastText_model.bin
FastText_mean_embed.npy
test.pickle
good_clf.pickle
Preprocessed_texts_title.pickle
UI/webui/mir/models/dataset.zip
UI/webui/mir/models/Transformer Classification/pytorch_model.bin
UI/webui/mir/models/Transformer Classification/config.json
*.pyc
*.*.pyc
.ipynb_checkpoints